<a href="https://colab.research.google.com/github/anurag-sketch/Anu/blob/master/diabetes_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.19.5)

In [ ]:
import pandas as pd

In [ ]:
#importing the dataset

dataset=pd.read_csv("diabities.csv")

In [ ]:
dataset.head()
#head function read the file from the first N columns . By default N is 5

   Unnamed: 0  Pregnancies  Glucose  ...  DiabetesPedigreeFunction   Age  Outcome
0         NaN          6.0    148.0  ...                     0.627  50.0      1.0
1         NaN          1.0     85.0  ...                     0.351  31.0      0.0
2         NaN          8.0    183.0  ...                     0.672  32.0      1.0
3         NaN          1.0     89.0  ...                     0.167  21.0      0.0
4         NaN          0.0    137.0  ...                     2.288  33.0      1.0

[5 rows x 10 columns]

In [ ]:
dataset.info()
#info function btata hai ki kya kya columns hai

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 769 entries, 0 to 768
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                0 non-null      float64
 1   Pregnancies               768 non-null    float64
 2   Glucose                   768 non-null    float64
 3   blood pressure            768 non-null    float64
 4   skin thickness            768 non-null    float64
 5   Insulin                   768 non-null    float64
 6   BMI                       768 non-null    float64
 7   DiabetesPedigreeFunction  768 non-null    float64
 8   Age                       768 non-null    float64
 9   Outcome                   768 non-null    float64
dtypes: float64(10)
memory usage: 60.2 KB

In [ ]:
x=dataset.iloc[:,:-1]
#X ke ander hm sare rows le rhe h.  -1 ka mtlv h ki last column nahi le rhe h
#[rows, columns]

y=dataset.iloc[:,-1]
#we only want last column in Y

In [ ]:
x
#printing the values in X

     Unnamed: 0  Pregnancies  Glucose  ...   BMI  DiabetesPedigreeFunction   Age
0           NaN          6.0    148.0  ...  33.6                     0.627  50.0
1           NaN          1.0     85.0  ...  26.6                     0.351  31.0
2           NaN          8.0    183.0  ...  23.3                     0.672  32.0
3           NaN          1.0     89.0  ...  28.1                     0.167  21.0
4           NaN          0.0    137.0  ...  43.1                     2.288  33.0
..          ...          ...      ...  ...   ...                       ...   ...
764         NaN          2.0    122.0  ...  36.8                     0.340  27.0
765         NaN          5.0    121.0  ...  26.2                     0.245  30.0
766         NaN          1.0    126.0  ...  30.1                     0.349  47.0
767         NaN          1.0     93.0  ...  30.4                     0.315  23.0
768         NaN          NaN      NaN  ...   NaN                       NaN   NaN

[769 rows x 9 columns]

In [ ]:
y
#Values uin Y

0      1.0
1      0.0
2      1.0
3      0.0
4      1.0
      ...
764    0.0
765    0.0
766    1.0
767    0.0
768    NaN
Name: Outcome, Length: 769, dtype: float64

In [ ]:
#to divide the data into training and test data

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
classifier=RandomForestClassifier(n_estimators=6,criterion='entropy')
classifier.fit(x_train,y_train)
y_pred=classifier.predict(x_test)

ValueError: ignored

In [1]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(x_train,y_train)
y_pred=lr.predict(x_test)

NameError: ignored

In [2]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

NameError: ignored